/* CSS Custom Properties Definitions */

:root {
  // --maxWidth-none: "none";
  // --maxWidth-xs: 20rem;
  // --maxWidth-sm: 24rem;
  // --maxWidth-md: 28rem;
  // --maxWidth-lg: 32rem;
  // --maxWidth-xl: 36rem;
  // --maxWidth-2xl: 42rem;
  // --maxWidth-3xl: 48rem;
  // --maxWidth-4xl: 56rem;
  // --maxWidth-full: "100%";
  // --maxWidth-wrapper: var(--maxWidth-2xl);
  // --spacing-px: "1px";
  // --spacing-0: 0;
  // --spacing-1: 0.25rem;
  // --spacing-2: 0.5rem;
  // --spacing-3: 0.75rem;
  // --spacing-4: 1rem;
  // --spacing-5: 1.25rem;
  // --spacing-6: 1.5rem;
  // --spacing-8: 2rem;
  // --spacing-10: 2.5rem;
  // --spacing-12: 3rem;
  // --spacing-16: 4rem;
  // --spacing-20: 5rem;
  // --spacing-24: 6rem;
  // --spacing-32: 8rem;
  // --fontFamily-sans: Montserrat, system-ui, -apple-system, BlinkMacSystemFont,
  //   "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
  //   "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  // --fontFamily-serif: "Merriweather", "Georgia", Cambria, "Times New Roman",
  //   Times, serif;
  // --font-body: var(--fontFamily-serif);
  // --font-heading: var(--fontFamily-sans);
  // --fontWeight-normal: 400;
  // --fontWeight-medium: 500;
  // --fontWeight-semibold: 600;
  // --fontWeight-bold: 700;
  // --fontWeight-extrabold: 800;
  // --fontWeight-black: 900;
  // --fontSize-root: 16px;
  // --lineHeight-none: 1;
  // --lineHeight-tight: 1.1;
  // --lineHeight-normal: 1.5;
  // --lineHeight-relaxed: 1.625;
  // /* 1.200 Minor Third Type Scale */
  // --fontSize-0: 0.833rem;
  // --fontSize-1: 1rem;
  // --fontSize-2: 1.2rem;
  // --fontSize-3: 1.44rem;
  // --fontSize-4: 1.728rem;
  // --fontSize-5: 2.074rem;
  // --fontSize-6: 2.488rem;
  // --fontSize-7: 2.986rem;
  // --color-primary: #005b99;
  // --color-text: #2e353f;
  // --color-text-light: #4f5969;
  // --color-heading: #1a202c;
  // --color-heading-black: black;
  // --color-accent: #d1dce5;
}

$color-text: #d9d9d9;
$color-background: #2E4560;
$color-background-dark: #213245;
$color-accent: #EFC1A9;
$navbarheight: 2rem;

$size-phone: 480px;
$size-tablet: 765px;
$size-laptop: 1024px;

*,
:after,
:before {
  box-sizing: border-box;
}

html {
  /* line-height: var(--lineHeight-normal);
  font-size: var(--fontSize-root); */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: $color-text;
  background-color: $color-background;
  position: relative;
}

nav{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: $navbarheight;
  border-bottom: 1px solid $color-accent;
  display: flex;
  align-items: center;
  padding-left: .5rem;
  background-color: $color-background;
  z-index: 10;

  .back{
    transition: all .5s;

    // &.active{
    //   width: auto;
    //   opacity: 1;
    // }
  }
}

footer {
  padding: 1rem 0;
}

a{
  color: $color-accent;
}

.global-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: $navbarheight;
  margin: 0 auto;
  max-width: 90ch;
  padding: 1.5rem 1rem;

  main{
    .articles{
      width: 100%;
      display: grid;
      grid-gap: 1rem;
      align-items: center;
    
      @media screen and (min-width: $size-phone) {
          grid-template-columns: repeat(1, 1fr);
      }
      @media screen and (min-width: $size-tablet) {
          grid-template-columns: repeat(2, 1fr);
      }
      @media screen and (min-width: $size-laptop) {
          grid-template-columns: repeat(3, 1fr);
      }

      article{
        cursor: pointer;
        border: 1px solid $color-accent;
        padding: 1rem;
        background-color: $color-background;
        position: relative;

        &::after{
          content: '';
          position: absolute;
          left: .5rem;
          top: .5rem;
          width: 100%;
          height: 100%;
          z-index: -1;
          transition: all .5s;
          background-image: repeating-linear-gradient(to bottom, transparent, transparent 5px, $color-background 5px, $color-background 10px),
                    repeating-linear-gradient(to right, $color-accent, $color-accent 5px, $color-background 5px, $color-background 10px);
        }

        &:hover::after{
          left: .8rem;
          top: .8rem;
        }

        h2{
          color: $color-accent;
        }
      }
    }

    .blog-post{
      header{
        h1{
          margin-bottom: .25rem;
        }
        p{
          margin-top: .25rem;
          margin-bottom: 2rem;
        }
      }

      blockquote{
        margin-left: .5rem;
        padding-left: 1rem;
        border-left: 5px solid $color-accent;
      }

      ul{
        padding-left: 1rem;
        list-style-type: none;

        li:before{
          content: '- ';
          display: inline;
          color: $color-accent;
        }
      }

      img{
        width: 100%;
        border: 1px solid $color-accent;
      }

      .gatsby-highlight{
        pre{
          background-color: transparent;
          border: 1px solid $color-accent;
        }
      }

      figcaption{
        margin-top: 1rem;
        text-align: center;
      }
    }
  }

}


code[class*=language-],pre[class*=language-]{color:#f8f8f2;background:0 0;text-shadow:0 1px rgba(0,0,0,.3);font-family:Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace;font-size:1em;text-align:left;white-space:pre;word-spacing:normal;word-break:normal;word-wrap:normal;line-height:1.5;-moz-tab-size:4;-o-tab-size:4;tab-size:4;-webkit-hyphens:none;-moz-hyphens:none;-ms-hyphens:none;hyphens:none}pre[class*=language-]{padding:1em;margin:.5em 0;overflow:auto;border-radius:.3em}:not(pre)>code[class*=language-],pre[class*=language-]{background:#272822}:not(pre)>code[class*=language-]{padding:.1em;border-radius:.3em;white-space:normal}.token.cdata,.token.comment,.token.doctype,.token.prolog{color:#8292a2}.token.punctuation{color:#f8f8f2}.token.namespace{opacity:.7}.token.constant,.token.deleted,.token.property,.token.symbol,.token.tag{color:#f92672}.token.boolean,.token.number{color:#ae81ff}.token.attr-name,.token.builtin,.token.char,.token.inserted,.token.selector,.token.string{color:#a6e22e}.language-css .token.string,.style .token.string,.token.entity,.token.operator,.token.url,.token.variable{color:#f8f8f2}.token.atrule,.token.attr-value,.token.class-name,.token.function{color:#e6db74}.token.keyword{color:#66d9ef}.token.important,.token.regex{color:#fd971f}.token.bold,.token.important{font-weight:700}.token.italic{font-style:italic}.token.entity{cursor:help}
